/* Add any CSS you need to this file. */

body {
  margin: 0;
  background-color: #ECDEB3;
  /* font for titles */
  font-family: 'Philosopher', sans-serif;
  line-height: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
  list-style: none;
  display: inline-block;
}

h2 {
  font-size: 1.25rem;
  color: #3D8972;
  padding-bottom: 15px;
  margin-left: 4%;
}

/* font for regular */

p {
  font-family: 'Gotu', sans-serif;
  font-size: 1rem;
  color: #674842;
}

label {
  font-family: 'Gotu', sans-serif;
  font-size: 0.88rem;
  color: #674842;
}


.header-wrapper {
  min-height: 20vh;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 30px 0 30px;
}

.first{
  flex: 0.5;
}

.logo_img {
  width: 100px;
  margin: 10px 10px;
}

.nav-ul {
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.menu-li {
  padding: 30px;
  color: #674842;
}

.contact-li {
  color: #EF7767;
}

.menu-li:hover {
  color: #EF7767;
}

.contact-li:hover {
  color: #7AA38B;
}

/* items-header section */
h1 {
  min-height: 10vh;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-size: 2.8rem;
  color: #3D8972;
  text-decoration: underline;
}

/* items section */
#items {
  min-height: 10vh;
  margin-bottom: 4rem;
  margin-top: 20px;
  overflow: hidden;
  padding: 0 7em 0 7em;
  margin: 0 auto;
}

.items-wrapper{
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4.5em;
  grid-row-gap: 1em;
}

.item-card {
  text-align: center;
  display: none;
  vertical-align: top;
  margin-bottom: 2%;
}


.item-info {
  text-align: center;
  margin-bottom: 2%;
}

.item-price{
  font-size: 0.9rem;
  margin-top: 0;
}

.item-img{
  max-width: 100%;
  margin: 0 auto;
}

.show {
  display: inline-block;
}

/* item header */
.category-title{
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* footer */
#footer{
  margin-top: 25px;
}

hr {
   border-top: 0.3px solid #674842;
   opacity: 20%;
   margin-bottom: 35px;
}

form {
  margin: 0 auto;
  height: 100px;
}

input {
  padding: 12px 20px;
  border: none;
  margin: 8px 0;
  font-family: 'Gotu', sans-serif;
  color: #674842;
  font-size: 1rem;
  /* display: block; */
  background-color: #FBF9EB;
  border-radius: 4px;
  text-align: center;
}

input::placeholder {
  text-align: left;
}

textarea {
  padding: 12px 20px;
  border: none;
  margin: 8px 0;
  font-family: 'Gotu', sans-serif;
  color: #674842;
  font-size: 0.93rem;
  background-color: #FBF9EB;
  border-radius: 4px;
  letter-spacing: 1px;
}

.subscribe{
  text-align: center;
}

.subscribe-input[type=email]{
  border-radius: 4px 0 0 4px;
  height: 35%;
  width: 50%;
  /* box-sizing: border-box; */
  color: #4AAC8C;
  display: inline-block;
}

.subscribe-input[type=email]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4AAC8C;
  opacity: 1; /* Firefox */
  font-size: 1rem;
}

.subscribe-input[type=submit]{
  border-radius: 0 4px 4px 0;
  background-color: #4AAC8C;
  opacity: 70%;
  height: 60%;
  width: 10%;
  color: #FBF9EB;
  display: inline-block;
  margin-left: -4px;
}


.footer-credits {
  padding: 50px 0 20px 0;
  width: 100%;
  display: inline-block;
  margin: 0;
  color: #674842;
  text-align: center;
  margin-bottom: -50px;
}


/* contact.html */
#order-number-div {
  display: none;
}

.form-container {
  margin: 0 auto;
  width: 53%;
}

.contact-h2 {
  text-align: left;
}

.message-form {
  margin-top: 30px;
}

input[type=radio]{
  display: inline-block;
  margin-right: 5px;
}

input[type=checkbox]{
  margin-right: 5px;
}

.input-para {
  font-size: 0.88rem;
  color: #674842;
}

.radio-container {
  margin-bottom: 15px;
  text-align: left;
}

.contact-input-div {
  grid-column-start: 1;
  margin-left: 20px;
  display: inline-block;
}

.contact-input-div label:after {
  content:" *";
  color: #EF7767;
}

.contact-input-div p:after {
  content:" *";
  color: #EF7767;
}

.radio-container label:after {
  content:"";
}

.nav-drop-btn {
  display: none;
}

@media (max-width: 1028px){

  .nav-dropdown {
    margin-left: 65%;
  }

  .nav-drop-btn {
    background-color: #ECDEB3;
    color: #674842;
    padding: 1.5rem;
    margin-bottom: 0.25rem;
    font-size: 1.4rem;
    font-family: 'Philosopher', sans-serif;
    border: none;
    display: block;
  }

  .nav-drop-btn:hover {
    color: #EF7767;
  }

  .nav-dropdown {
    position: relative;
  }

  .nav-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px wheat;
    z-index: 1;
  }

  .nav-content a {
    color: #674842;
    padding: 0.9rem;
    text-decoration: none;
    display: block;
  }

  .nav-content a:hover {
    background-color: #FBF9EB;
  }

  .nav-dropdown:hover .nav-content {
    display: block;
  }

  .nav-dropdown:hover .nav-drop-btn {
    background-color: #ECDEB3;
  }

  .header-wrapper {
    margin: 0 auto;
  }

  .nav-ul {
    margin: 0 auto;
    text-align: center;
  }

  .menu-li {
    padding: 10px;
    font-size: 1.4rem;
  }

  .logo_img {
    width: 70px;
  }

  h1 {
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-size: 2.1rem;
  }

  .items-wrapper{
    grid-template-columns: 2fr 2fr;
  }

  .form-container {
    width: 75%;
  }

  .contact-submit {
    padding: 15% 20%;
  }

  .subscribe-input[type=submit]{
    width: 15%;
  }

}

@media (max-width: 768px){

  #items {
    padding: 0 5em 0 5em;
  }

  h1 {
    font-size: 1.5rem;
  }

  input {
    padding: 7% 24% 7% 10%;
    margin-right: 7%;
  }

  .nav-dropdown {
    margin-left: 60%;
  }

  .nav-drop-btn {
    font-size: 1.25rem;
  }

  .menu-li {
    font-size: 1.25rem;
  }

  .menu {
    display: block;
  }

  .items-wrapper{
    grid-template-columns: 1fr;
  }

  .item-card {
    margin-bottom: 6%;
  }

  .form-container {
    margin: 0 auto;
    width: 90%;
  }

  .subscribe-input[type=email]{
    padding: 2% 5%;
    margin-right: 0;
    border-radius: 0;
  }

  .subscribe-input[type=submit]{
    padding: 2% 3%;
    margin-right: 0;
    width: 20%;
    border-radius: 0;
  }

}

@media (max-width: 544px){
  input {
    padding: 7% 20% 7% 7%;
  }

  h1 {
    font-size: 1.25rem;
    margin: 50px 0 35px 0;
  }

  textarea {
    width: 90%;
  }

  #items {
    padding: 0 4em 0 4em;
  }

  .nav-dropdown {
    margin-left: 50%;
  }

  .nav-drop-btn {
    font-size: 1.1rem;
  }

  .subscribe-input[type=email]{
    border-radius: 0;
    height: 30%;
  }

  .subscribe-input[type=submit]{
    border-radius: 0;
    width: 23%;
    height: 50%;
  }

  .footer-credits {
    padding: 30px 0 0 0;
  }
}
